
/***Base styles***/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.title-container {
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 175%;
  }

.row{
  width: 90%;
  border: 5px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}

.menu{
  background-color: grey;
  margin: 10px;
  border: 2px solid black;
}

.menu-title{
  width: 40%;
  float: right;
  border: 2px solid black;
  text-align: center;
  font-size: 125%;
}

.text{
  margin: 5px;
  margin-top: 45px;
  clear: both;
}

#cucumber{background-color: green; color: white;}
#tomato{background-color: red; color: white;}
#carrot{background-color: orange; color: white;}

/***Desktop***/
@media (min-width: 992px){
.col-lg-4{
  float:left;
  width: 33.33%;
  }
}

/***Tablet***/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6, .col-sm-12 {
    float: left;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/***Mobile***/
@media (max-width: 767px) {
  .col-xs-12 {
  float: left;
  width: 100%;
  }
}
  
